.button {
  background-color: #0cdb28;
  width: 90px;
  max-height: 36px;
  border: none;
  border-radius: 4px;
  color: #000000;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:disabled {
  background-color: #051d097e;
  color: #ffffff;
  cursor: not-allowed;
}
